

main {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 5% 1fr;
}

.game {
    display: flex;
    padding: 5%;
    row-gap: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 25vh;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Oswald', sans-serif;
}

.game-grid {
    margin-top: 5vh;
    margin-bottom: 2vh;
    display: grid;
    gap: 1vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-row {
    /*display: flex;
    column-gap: 4px;*/
    display: grid;
    grid-template-columns: repeat(var(--wordLength), 1fr);
    gap: 0.5vw;

}

.cell {
    aspect-ratio: 1;
    width: 0.5fr;
    height: 0.5fr;
    border: 0.5vw solid #ccc;
    min-width: 3vw;
    min-height: 3vh;
    max-width: 4vw;
    max-height: 4vh;
    background-color: #fff;
    border: 0.5vh solid #fff;
    border-radius: 1vh;
    color: #000;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.05s ease-in-out,
                background-color 0.3s ease-in-out,
                border-color 0.3s ease-in-out;
}

#keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
}

.kb-row {
    column-gap: 0.5vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4vw, auto));
    justify-content: center;
}
.kb-letter, .kb-enter, .kb-delete{
    height: 4vh;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-color: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 1vh;
    transition: background-color 0.3s ease-in-out;
}

.kb-letter:hover {
    background-color: #aaa;
}

.correct .absent .present {
    color: #fff;
}

.absent {
    background-color: #878787;
    border-color: #878787;
}

.letter-present {
    background-color: #c8a91f;
    border-color: #c8a91f;
}

.letter-correct {
    background-color: #15a760;
    border-color: #15a760;
}

.leaderboard-note {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #103565;
    border-radius: 1vh;
    width: 50%;
    height: 100%;
}

.leaderboard-entry {
    margin: 5px 0;
    font-size: 1em;
}

.grid-row.shake {
    animation: shake 100ms linear infinite;
}

@keyframes shake {
      0% {
          transform: translateX(0) ;
      }
      25% {
          transform: translateX(-0.5vw) rotate(3deg);
      }
      50% {
          transform: translateX(0)
      }
      75% {
          transform: translateX(0.5vw) rotate(-3deg);
      }
      100% {
          transform: translateX(0);
      }
}

.fade-out {
    animation: fadeOut 0.5s;
    opacity: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}