main {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 5% 1fr;
}

.game {
    display: flex;
    padding: 5%;
    row-gap: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-grid {
    width: 100%;
    display: grid;
    gap: 1vw;
}

.cell {
    border: 0.5vw solid #ccc;
    min-width: 4vw;
    min-height: 4vh;
}

#keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
}

.kb-row {
    column-gap: 0.5vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4vw, auto));
    justify-content: center;
}
.kb-letter {
    height: 4vh;
    font-weight: bold;
    text-transform: uppercase;
    text-color: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 1vh;
    transition: background-color 0.3s ease-in-out;
}

.kb-letter:hover {
    background-color: #aaa;
}

.correct .absent .present {
    color: #fff;
}

.absent {
    background-color: #878787;
    border-color: #878787;
}

.letter-present {
    background-color: #c8a91f;
    border-color: #c8a91f;
}

.letter-correct {
    background-color: #15a760;;
    border-color: #15a760;;
}