<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Favicon links for different sizes and formats -->
    <link rel="favicon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='main/images/favicon-32x32.png') }}">
    <link rel="favicon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='main/images/favicon-16x16.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">

    <!-- Link to the main stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/base.css') }}">

    <!-- Link to Google Fonts stylesheet for Material Symbols Outlined font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Placeholder for styles, typically overridden in child templates -->
    {% block styles %}{% endblock %}

    <!-- Character encoding and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Default page title, can be overridden in child templates -->
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <div id="blur-backdrop"></div>
    <!-- Page header -->
    <header>
        <div class="banner">
            <!-- Banner image -->
            <img src="{{ url_for('static', filename='main/images/banner.jpg') }}" alt="Website Banner Image">
        </div>
    </header>

    <!-- Navigation menu -->
    <nav>
        <h1>CSE 477 - Final Exam</h1>

        <!-- Menu Icon (for mobile) -->
        <div id="menu-icon">
            <img src="{{ url_for('static', filename='main/images/menu-bar.png') }}" alt="Menu" id="menu-icon-img">
        </div>

        <!-- Mobile Menu (hidden by default, displayed on mobile) -->
        <div id="mobile-menu">
            <!-- Slide-out menu content -->
            <div id="menu-content">
                <ul>
                    <!-- Menu items for mobile -->
                    <li><a href="/home">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="https://www.linkedin.com/in/jakeyax/" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>

        <!-- Desktop Menu (visible on larger screens) -->
        <ul>
            <!-- Menu items for desktop -->
            <li><a href="/home">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="https://www.linkedin.com/in/jakeyax/" target="_blank"><img src="{{ url_for('static', filename='main/images/social-linkedin.jpg') }}" alt="Link to my LinkedIn"/></a></li>
        </ul>
    </nav>

    <main>
        <!-- Main content (placeholder) -->
        <div class="main-content-container">
            {% block content %}{% endblock %}
        </div>
    </main>
<!-- Feedback Form -->
    <div class="feedback-form-container">
      <form target="_blank" action="/submitfeedback" method="POST" enctype="multipart/form-data">
          <label for="feedback_name">Name:</label><br>
          <input title="text" type="text" name="name" id="feedback_name" placeholder="Your Name" required><br>
          <label for="feedback_email">Email:</label><br>
          <input type="email" name="email" id="feedback_email" placeholder="Your Email" required><br>
          <label for="feedback_comment">Comment:</label><br>
          <textarea name="comment" id="feedback_comment" placeholder="Your Comment" required></textarea>
          <button type="submit" name="submit">Submit Feedback</button>
      </form>
    </div>

<!-- Page footer -->
<footer>
    <!-- Copyright notice -->
    <p>©2023 Jake Yax </p>
    <!-- Toggle Feedback Form Button -->
    <button id="toggle-feedback-btn">Feedback</button>
</footer>
    <!-- Reference to an external JavaScript file with 'defer' attribute -->
    <script src="{{ url_for('static', filename='main/js/base.js') }}" defer></script>
 {% block scripts %}{% endblock %}
</body>
</html>
