flask~=3.0.0
gunicorn~=21.2.0
Flask-Failsafe
mysql-connector-python~=8.2.0
scrypt~=0.8.20
cryptography~=41.0.7
pip~=23.3.1
attrs~=23.1.0
Pillow~=10.1.0
tornado~=6.3.3
Jinja2~=3.1.2
typing_extensions~=4.8.0
MarkupSafe~=2.1.3
Werkzeug~=3.0.1
click~=8.1.7
blinker~=1.7.0
itsdangerous~=2.1.2
dnspython~=1.16.0
zipp~=3.17.0
protobuf~=4.21.12
gevent~=23.9.1
packaging~=23.2
eventlet~=0.30.2
greenlet~=3.0.0
requests~=2.31.0