flask
gunicorn
Flask-Failsafe
mysql-connector-python
scrypt
cryptography
pip
attrs
Pillow
tornado
Jinja2
typing_extensions
MarkupSafe
Werkzeug
click
blinker
itsdangerous
dnspython
zipp
protobuf
gevent
packaging
greenlet
requests