{% extends "shared/base.html" %}

{% block title %}Projects{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/projects.css')}}">
{% endblock %}

{% block content %}
    <div class="column-purpose">
        <p>This page is a representation of my portfolio of projects I have worked on. <br> Below you will find each project with a description and image of each project.</p>
    </div>
    <hr class="project-separator">
    <div class="double-column" id="piano">
        <div class="column img-column" id="piano-img">
            <a href="/piano" target="_self"><img src="{{ url_for('static', filename='main/images/piano.jpeg') }}" alt="Picture of a Piano" loading="lazy"/></a>
        </div>
        <div class="column desc-column" id="piano-desc">
            <p>Playable piano with a secret inside!</p>
        </div>
    </div>
    <div class="double-column" id="wordly">
        <div class="column img-column" id="wordly-img">
            <a href="/wordly" target="_self"><img src="{{ url_for('static', filename='main/images/wordly.jpg') }}" alt="Picture of blocks with letters on it" loading=lazy"/></a>
        </div>
        <div class="column desc-column" id="wordly-desc">
            <p>Wordly! A game of guessing words.</p>
        </div>
    </div>

{% endblock %}