{% extends "shared/base.html" %}

{% block title %}Signup page{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/main/css/signup.css') }}">
{% endblock %}


{% block content %}
<div class="signup-page">
    <div class="signup-container" id="signup-container">
        <div class="form-container sign-up">
            <form class="sign-up-form" target="_self" action="" method="POST" enctype="multipart/form-data">
                <h1>Sign Up</h1>
                <input id="username" title="Input for username" type="text" name="username" placeholder="Username" required>
                <input id="email" title="Input for Email" type="email" name="email" placeholder="Email" required>
                <input id="password" title="Input for Password" type="password" name="password" placeholder="********">
                <button onclick="checkSignUp(event)" name="signup" title="Button for login submit">Sign up</button>
                <h3 id="failed-signup"></h3>
            </form>
        </div>
        <div class="side-container">
            <div class="side">
                <div class="side-pane side-right">
                    <h1>Have an account?</h1>
                    <button id="sign-in">Sign in</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='main/js/signup.js') }}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}