{% extends "shared/base.html" %}

{% block title %}Wordly{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wordly/css/wordly.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

{% if show_instructions %}
<div class="instructions-modal" data-show-instructions="{{ show_instructions }}">
    <h2>How to play</h2>
    <ul>
        <li>You have as many guesses as total letters in the word</li>
        <li>Each guess must be a valid word.</li>
        <li>The tiles will change in color based on how correct you were</li>
        <li>A green tile means it is the correct letter in the correct spot</li>
        <li>A yellow tile means it is the correct letter, but wrong spot</li>
        <li>A grey means it is neither the correct letter nor correct spot</li>
    </ul>
    <button onclick="closeInstructions()">Close</button>
</div>
{% endif %}


<div class="game">
    <div class="game-grid">

    </div>

    <div id="keyboard">
        <div class="kb-row">
            <button class="kb-letter" id="q">q</button>
            <button class="kb-letter" id="w">w</button>
            <button class="kb-letter">e</button>
            <button class="kb-letter">r</button>
            <button class="kb-letter">t</button>
            <button class="kb-letter">y</button>
            <button class="kb-letter">u</button>
            <button class="kb-letter">i</button>
            <button class="kb-letter">o</button>
            <button class="kb-letter">p</button>
        </div>
        <div class="kb-row">
            <button class="kb-letter">a</button>
            <button class="kb-letter">s</button>
            <button class="kb-letter">d</button>
            <button class="kb-letter">f</button>
            <button class="kb-letter">g</button>
            <button class="kb-letter">h</button>
            <button class="kb-letter">j</button>
            <button class="kb-letter">k</button>
            <button class="kb-letter">l</button>
        </div>
        <div class="kb-row">
            <button class="kb-enter">enter</button>
            <button class="kb-letter">z</button>
            <button class="kb-letter">x</button>
            <button class="kb-letter">c</button>
            <button class="kb-letter">v</button>
            <button class="kb-letter">b</button>
            <button class="kb-letter">n</button>
            <button class="kb-letter">m</button>
            <button class="kb-delete">
            <i class="fa-solid fa-delete-left"></i>
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='wordly/js/wordly.js') }}"  defer></script>
<script src="https://kit.fontawesome.com/2ff610ef8a.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}