main {
    padding: 0;
    margin: 0;
    align-items: center;
}

.login-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}

.login-container {
    margin: 0;
    padding: 0;
    background-color: #103565;
    border-radius: 2vw;
    width: 65vw;
    max-width: 65vw;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    height: 50vh;
    justify-content: left;
    scale: 1.2;
}

.login-container button {
    background-color: #5581B4;
    color: #ffffff;
    font-size: 1vh;
    letter-spacing: 0.2vw;
    font-weight: 600;
    padding: 2% 3%;
    border: 0.1vw solid transparent;
    border-radius: 1vw;
    text-transform: uppercase;
    cursor: pointer;
}

.login-container form {
    display: flex;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container input {
    padding: 1% 2%;
    margin: 1%;
    border: none;
    border-radius: 1vw;
    width: 50%;
    background-color: #fff;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.side-container {
    position: absolute;
    top: 0;
    left: 60%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 0;
}

.side {
    background-color: #103565;
    color: #fff;
    height: 100%;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
}

.side-pane {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    text-align: center;
    top: 0;
}
.side-right {
    right: 0;
}
