{% extends "base.html" %}

{% block title %}Jake Yax Portfolio{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="../static/main/css/home.css">
{% endblock %}

{% block content %}
    <div class="double-column">
        <div class="column" id="image">
            <img src="../static/main/images/me.jpg" alt="Pic of Jake Yax">
        </div>
        <div class="column" id="description">
            <p> <span id="my-name">Jake Yax</span> is a 22-year-old student studying computer science. Lorum ipsum is bald and weird. Lorum ipsum is bald
                and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird.
                Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum
                is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald
                and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird.
                Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum
                is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and
                weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum
                ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is
                bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and
                weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum
                ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald
                and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird.
                Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum
                is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and
                weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum
                ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald
                and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird.
                Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum
                is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and
                weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum
                ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald
                and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird. Lorum ipsum is bald and weird.
                Lorum ipsum is bald and weird.
            </p>
        </div>
    </div>
    <br>
    <p id="fun-fact">Fun Fact:</p>
{% endblock %}