<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="favicon" type="image/png" sizes="32x32" href="../static/main/images/favicon-32x32.png">
        <link rel="favicon" type="image/png" sizes="16x16" href="../static/main/images/favicon-16x16.png">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            <img src=""
                 alt="">
        </header>
        <nav>
            <ul>
                <li><a href="/home.html">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/piano.html">Piano</a></li>
            </ul>
        </nav>
        <main>

        </main>
        <footer>
            <p>© Jacob Yax 2023</p>
        </footer>
    </body>
</html>